HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px 
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
HTML {
	HEIGHT: 100%
}
BODY {
	HEIGHT: 100%
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
ADDRESS {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CAPTION {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CITE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
DFN {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
TH {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
VAR {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
TABLE {
	BORDER-COLLAPSE: collapse; 
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
LABEL {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
SELECT {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
A:active {

}
A:focus {

}
* HTML .clearfix {
	HEIGHT: 1%
}
BODY {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	background:#FFFFFF;
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	text-decoration:none;
}
H1 {
	FONT-SIZE: 25px;
	COLOR: #999;
	background-repeat: no-repeat;
	padding-bottom: 10px;
	font-family: 'ProductusMediumRegular';
}
H2 {
	font-family: 'ProductusMediumRegular';
	FONT-SIZE: 22px;
	MARGIN-BOTTOM: 0px;
	COLOR: #27ACE4;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
}
H3 {
	FONT-SIZE: 16px;
	COLOR: #666;
	font-weight:bold;
	text-transform: none;
	line-height:normal;
	padding-bottom: 10px;
}
H4 {
	FONT-SIZE: 13px;
	COLOR: #FFFF00;
	LETTER-SPACING: 2px;
	FONT-WEIGHT: bold;
	padding: 13px 10px 5px 0px;
}
H5 {
	MARGIN-BOTTOM: 0.6em;
	COLOR: #292a29;
	font-size: 16px;
}
@font-face {
    font-family: 'ProductusMediumRegular';
    src: url('productus-medium-webfont.eot');
    src: url('productus-medium-webfont.eot?iefix') format('eot'),
         url('productus-medium-webfont.woff') format('woff'),
         url('productus-medium-webfont.ttf') format('truetype'),
         url('productus-medium-webfont.svg#webfont7Rk16e3A') format('svg');
    font-weight: normal;
    font-style: normal;
}
TEXTAREA {
	FONT-SIZE: 12px; FONT-FAMILY: helvetica, arial, sans-serif
}
#header .gutter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 1016px; PADDING-TOP: 0px; 
}
#wrapper .inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 1016px; PADDING-TOP: 0px
}
#footer .inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 1016px; PADDING-TOP: 0px;
}
#imagina .mos {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 1016px; PADDING-TOP: 0px;
}
#header{
	background: url(../img/bg_header.jpg) top center no-repeat #BDF3FD;
}

#header .inner {
}
#header #htop {
	height: 138px;
}
#header .logo {
	width: 160px;
	height: 130px;
	background: #F2F2F2;
	background: -moz-linear-gradient(top, #F2F2F2 0%, #FFFFFF 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F2F2F2), color-stop(50%,#FFFFFF));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2F2F2', endColorstr='#FFFFFF',GradientType=0 ); /* ie */
	float: left;
	border-color: #DEDEDE;
	border-width: 0px 1px 1px 1px;
	border-bottom-style: solid;
	-moz-border-radius: 0px 0px 17px 17px;
	-webkit-border-radius: 0px 0px 17px 17px;
	border-radius: 0px 0px 17px 17px;
}
#header .logoima {
	width: 110px;
	height: 108px;
	margin: 8px auto;
}
#header .bar {
	margin-top: 52px;
	margin-left: 228px;
	width: 789px;
	height: 55px;
	float: left;
	position: absolute;
}
#header .bar .bartit {
	font-size: 13px;
	font-weight: bold;
	margin-right: 4px;
	margin-bottom: 6px;
	text-align: right;
	letter-spacing: 1px;
}
#header .bar .bartit a:link, #header .bar .bartit a:visited{
	color:#5692B5;
}
#header .bar .bartit a:hover{
	color:#FF6600;
}
#search {
	background: url(../img/bg_search.png) transparent repeat-x ;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 14px;
}
#menulogcart {
	background-color:#FF0000;
	margin-left: 7px;
}
#menulogcart ul li a:link, #menulogcart ul li a:visited{
	float: left;
	display: inline;
	list-style: none;
	margin-left: 2px;
	height: 25px;
	padding: 15px 15px;
	line-height: 25px;
	border: 1px solid #ddd;
	background: #ebebeb;
	background: -moz-linear-gradient(top, #ffffff, #ebebeb);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ebebeb));
	color: #222222;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
#menulogcart ul li a:hover{
	float: left;
	display: inline;
	list-style: none;
	margin-left: 2px;
	height: 25px;
	padding: 15px 15px;
	line-height: 25px;
	border: 1px solid #ddd;
	background: #ccc;
	background: -moz-linear-gradient(top, #ccc, #ebebeb);
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ebebeb));
	color: #222222;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ebebeb');
}
#countcart {
	position:absolute;
	float:left;
	width:120px;
	height:15px;
	z-index:1;
	margin-top: 10px;
	margin-left: 30px;
	color: #1E9AD1;
	font-size: 14px;
}
/* use a semi-transparent image for the overlay */
.modal {
	background-color:#fff;
	display:none;
	padding:15px;
	text-align:left;
	border:2px solid #333;
	opacity:0.8;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
}
.modal h1 {
	font-family: 'ProductusMediumRegular';
	font-size: 36px;
	color: #999999;
}
.modal h2 {
	background:url(../img/cart.png) 0 50% no-repeat;
	margin:0px;
	padding:10px 0 10px 45px;
	border-bottom:1px solid #333;
	font-size:20px;
}
.modal .modcont {
	padding-top:10px;
}
.alert {
	background-color:#fff;
	display:none;
	padding:15px;
	text-align:left;
	border:2px solid #333;
	opacity:0.8;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
}
.alert h1 {
	font-family: 'ProductusMediumRegular';
	font-size: 36px;
	color: #999999;
}
.alert h2 {
	background:url(../img/cart.png) 0 50% no-repeat;
	margin:0px;
	padding:10px 0 10px 45px;
	border-bottom:1px solid #333;
	font-size:20px;
}
.alert .modcont {
	padding-top:10px;
}
.close {
	background-image: url(../img/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}
#header #hbot {
	height: 44px;
}
ul#topnav {
	margin: 0; padding: 0;
	float:left;
	width: 100%;
	list-style: none;
	font-size: 1.1em;
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	position: relative;
}
ul#topnav li a {
	float: left; 
	height: 44px;
}
ul#topnav li:hover a, ul#topnav li a:hover { background-position: left bottom; }
ul#topnav a.libros, ul#topnav a.revistas, ul#topnav a.musicavid, ul#topnav a.accesorios, ul#topnav a.servicios, ul#topnav a.cursos, ul#topnav a.promociones {
	background:  url(../img/menut.jpg) repeat-x;
	padding: 0px 18px;
	line-height: 44px;
	font-size: 16px;
	font-weight:bold;
	color: #FFFFFF;
}
ul#topnav li .sub {
	position: absolute;	
	top: 44px; left: 0;
	background: #113F60;
	padding: 15px 15px 15px;
	float: left;
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	display: none;
	z-index: 1000;
}
ul#topnav li .row {clear: both; float: left; width: 100%; margin-bottom: 10px;}
ul#topnav li .sub ul{
	list-style: none;
	margin: 0; padding: 0;
	width: 100px;
	float: left;
}
ul#topnav .sub ul li {
	width: 100%;
	color: #eee;
}
ul#topnav .sub ul li h2 {
	padding: 0;  margin: 0;
	font-size: 1.1em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
ul#topnav .sub ul li h2 a {
	padding: 5px 0;
	background-image: none;
	color: #fff;
}
ul#topnav .sub ul li a {
	float: none;
	text-indent: 0; /*--Reset text indent--*/
	height: auto;
	background: url(../img/navlist_arrow.png) no-repeat 5px 7px;
	padding: 4px 5px 4px 15px;
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 11px;
}
ul#topnav .sub ul li a:hover {color: #7ECDEF; background-position: 5px 7px ;
}
#menuhd {
	list-style-type:square;
	list-style-position: outside;
	margin-left:15px
}
#menuhd a:link, #menuhd a:visited{
	color: #0C68B4;
}
#menuhd a:hover{
	text-decoration: underline;
}
#frase {
	height:14px;
	margin-left: 215px;
	padding: 15px 13px;
	color: #FFFFFF;
}
#wrapper {
	background: #E9E9E9; /* old browsers */
	background: -moz-linear-gradient(left, #E9E9E9 0%, #FEFEFE 50%, #E9E9E9 100%); /* firefox */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#E9E9E9), color-stop(50%,#FEFEFE), color-stop(100%,#E9E9E9)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9E9E9', endColorstr='#E9E9E9',GradientType=1 ); /* ie */
}
#wrapperbg {
	width: 1116px;
	margin: auto;
	background: url(../img/arabesque.png) no-repeat;
}
#wrapper .inner {
}
#wrapper #m_top {
	width: 794px;
	margin-right: 13px;
	margin-top: 10px;
}
#wrapper #m_top .ban1 {
	width: 794px;
	height: 260px;
	margin-bottom: 30px;
}
#baner {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-border-radius: 8px;
	-ms-border-radius: 8px;
	-khtml-border-radius: 8px;
	width: 794px;
	height: 260px;
}
.balt{
	width: 8px;
	height: 8px;
	background: url(../img/r1.png) no-repeat;
	float: left;
	position: relative;
	z-index: 500;
	display: block;
}
.bart{
	width: 8px;
	height: 8px;
	background: url(../img/r2.png) no-repeat;
	float: right;
	position: relative;
	z-index: 500;
	display: block;
}
.balb{
	width: 8px;
	height: 8px;
	background: url(../img/r3.png) no-repeat;
	float: left;
	top: 252px;
	left: -8px;
	position: relative;
	z-index: 500;
	display: block;
}
.barb{
	width: 8px;
	height: 8px;
	background: url(../img/r4.png) no-repeat;
	float: right;
	top: 252px;
	right: -8px;
	position: relative;
	z-index: 500;
	display: block;
}
.slid {
	width: 794px;
	height: 260px;
}
#baner img {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-border-radius: 8px;
	-ms-border-radius: 8px;
	-khtml-border-radius: 8px;
}
#slider-wrapper {
    background:url(../img/slider.png) no-repeat;
    width: 794px;
	height: 260px;
}

#slider {
	position:relative;
    width: 794px;
	height: 260px;
	background:url(../img/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-border-radius: 8px;
	-ms-border-radius: 8px;
	-khtml-border-radius: 8px;
}
#slider a {
	border:0;
	display:block;
}
#slider strong {
	color: #FFFFFF;
}

.nivo-controlNav{
	position:absolute;
	left:350px;
	bottom: -26px;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../img/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../img/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}
#wrapper #m_cen {
	width: 567px;
	margin: 10px auto;
}
#wrapper #m_cen .ban2 {
	width: 537px;
	height: 236px;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 7px;
	padding-left: 15px;
	overflow: hidden;
	-moz-box-shadow: inset 0 0 32px #A0C2D5;
	-webkit-box-shadow: inset 0 0 32px #A0C2D5;
	box-shadow: inset 0 0 32px #A0C2D5;
	filter: shadow(color=#A0C2D5, direction=135, strength=2);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #B1D6EB;
	position: relative;
}

#novelties_tit {
	width: 300px;
	height: 30px;
	float: left;
	z-index: 1;
	color:#666;
	font-size: 13px;
	margin-left: 140px;
	margin-top: 5px;
}
#novelties_tit a:link, #novelties_tit a:visited{
	color:#666;
}
#novelties_tit a:hover{
	color:#FFf;
}
#novelties_tit span {
	font-family: 'ProductusMediumRegular';
	color:#666;
	font-size: 21px;
}
.list_carousel {
	margin: 0px;
	width: 537px;
	height: 235px;
	overflow:hidden;
	position:relative;
}
ul#novelties li a {
	line-height: 180px;
	vertical-align:middle;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align:middle;
	background-color: transparent;
}
.list_carousel li {
	font-size: 12px;
	color: #666;
	text-align: center;
	width: 113px;
	height: 180px;
	padding: 0;
	margin: 10px 10px;
	line-height: 180px;
	vertical-align:middle;
	float: left;
}
.list_carousel li img {
	-moz-box-shadow: 2px 2px 10px #3A6780;
	-webkit-box-shadow: 2px 2px 10px #3A6780;
	box-shadow: 2px 2px 10px #3A6780;
	filter: shadow(color=#3A6780, direction=135, strength=2);
	line-height: 180px;
	vertical-align:middle;
}
.clearfix {
	float: none;
	clear: both;
}
#prev1 {
	position: relative;
	float: right;
	margin-right: 39px;
	margin-top: 15px;
}
#next1 {
	position: relative;
	float: right;
	margin-right: 19px;
	margin-top: 15px;
}

.tooltip {
	display:none;
	background: url(../img/black_arrow.png) no-repeat;
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;
	z-index: 9999;
}
.imagohm {
	height:70px;
	width:160px;
	font-size: 13px;
	overflow: hidden;
}
span.imagohm_tit {
	width:160px;
	display: block;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
	text-align: center;
	line-height: 13px;
}
span.imagohm_pri {
	width:160px;
	display: block;
	color: #FF9900;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	padding: 5px 0px 3px 0px;
	text-align: center;
	line-height: 17px;
}
span.imagohm_buy {
	width:160px;
	display: block;
	text-align: center;
}
#wrapper #m_cen .ban3 {
	width: 557px;
	position:relative;
	background-color: #d6d6d6;
	padding: 5px;
	margin-top: 10px;
}
#arrow_left {
	position: absolute;
	float: left;
	width:27px;
	height:72px;
	z-index:3;
	margin-left: -10px;
	margin-top: 135px;
	background:url(../img/arrow_left.png) top left no-repeat;
}
#arrow_right {
	position: absolute;
	float: right;
	width:27px;
	height:72px;
	z-index:3;
	margin-left: 550px;
	margin-top: 135px;
	background:url(../img/arrow_right.png) top left no-repeat;
}
#wrapper #m_rig {
	width: 208px;
	margin: 10px auto;
}
#wrapper #msg {
	width: 208px;
	margin: 10px auto;
	-moz-box-shadow: 0 0 15px #ccc;
	-webkit-box-shadow: 0 0 15px#ccc;
	box-shadow: 0 0 15px #ccc;
	filter: shadow(color=#cccccc, direction=135, strength=2);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #D6D6D6;
	background: -moz-linear-gradient(top, #D6D6D6 0%, #FFFFFF 20%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D6D6D6), color-stop(20%,#FFFFFF));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D6D6D6', endColorstr='#FFFFFF',GradientType=0 );
}
#wrapper #msg .msg_cont {
	font-size: 14px;
	color: #666666;
	line-height: 16px;
	padding: 50px 5px 5px 5px;
	text-align: center;
}
.mod_tit {
	font-family: 'ProductusMediumRegular';
	font-size: 21px;
	color: #666666;
	line-height: 32px;
	text-align: center;
	width: 206px;
	padding: 3px 0px;
	margin: 0px;
	position: absolute;
	border-top: 1px;
	border-right: 1px;
	border-bottom: 3px;
	border-left: 1px;
	border-color:#E0E0E0;
	border-style: solid;
	border-radius:10px 10px 0px 0px ;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	background: #FBFBFB;
	background: -moz-linear-gradient(top, #FBFBFB 1%, #F9F9F9 80%, #F0F0F0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#FBFBFB), color-stop(80%,#F9F9F9), color-stop(100%,#F0F0F0));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBFBFB', endColorstr='#F0F0F0',GradientType=0 );
	background: -o-linear-gradient(top, #FBFBFB 1%,#F9F9F9 80%,#F0F0F0 100%);
}
#wrapper #gral {
	width: 208px;
	margin: 0px;
	-moz-box-shadow:inset 0 0 32px #A0C2D5;
	-webkit-box-shadow:inset 0 0 32px #A0C2D5;
	box-shadow:inset 0 0 32px #A0C2D5;
	filter: shadow(color=#A0C2D5, direction=135, strength=2);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #B1D6EB;
}
.list_vcarousel {
	padding: 0px;
	position: relative;
}
.list_vcarousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_vcarousel li {
	color: #666;
	text-align: center;
	width: 130px;
	height: 190px;
	margin-bottom: 2px;
	margin-top: 4px;
	padding: 0;
	display: block;
	float: left;
	margin-left: 40px;
}
.list_vcarousel li img {
	-moz-box-shadow: 2px 2px 10px #3A6780;
	-webkit-box-shadow: 2px 2px 10px #3A6780;
	box-shadow: 2px 2px 10px #3A6780;
	filter: shadow(color=#3A6780, direction=135, strength=2);
}
#prev2 {
	position: relative;
	float: right;
	margin-right: 19px;
	margin-top: 45px;
	z-index: 500;
}
#next2 {
	position: relative;
	float: right;
	margin-right: 9px;
	margin-top: 45px;
	z-index: 500;
}

#wrapper #main {
	padding: 0px 0px;

}
#wrapper #mainhm p {
	color: #FFFFFF;

}
#wrapper #main P{
	text-align: justify;
	line-height: 1.2em;
	padding-bottom: 10px;
	font-size: 12px;
	color: #0C0C0C;
}
#wrapper #main label{
	padding-bottom: 10px;
	font-size: 12px;
	color: #555;
}
#wrapper #main .content ul{
	padding-bottom:5px;
	font-size: 12px;
	color: #0C0C0C;
}
#wrapper #main .content li{
	font-size: 12px;
	list-style:square;
	list-style-position:inside;
	color: #0C0C0C;
}
#wrapper #main .content strong{
	color: #27ACE4;
}
#wrapper #main .content .mini{
	font-size: 11px;
	line-height: 11px;
	color:#777;
}
#tabladet {
	position:absolute;
	width:200px;
	height:50px;
	z-index:3;
	margin-left: 300px;
	margin-top: 60px;
	background: #eee;
	font-size: 11px;
	line-height: 15px;
	padding: 5px;
	border: 1px solid #fff;
}
.content a:link, .content a:visited{
	color: #000080;
}
.content a:hover{
	color: #000080;
	text-decoration:underline;
}

.mod_read {
	font-family: 'ProductusMediumRegular';
	font-size: 21px;
	color: #666666;
	line-height: 40px;
	text-align: center;
	width: 157px;
	height: 40px;
}
#wrapper #m_cita1 {
	margin: 10px 0px 10px 10px;
	width: 500px;
	float: left;
	position: relative;
}
#wrapper #m_cita2 {
	margin: 10px 0px 10px 10px;
	width: 280px;
	float: left;
	position: relative;
}
#wrapper #m_tot {
	margin: 10px 0px 10px 10px;
}
#wrapper #contenido{
	padding: 20px;
	border: 1px solid #fff;
	-moz-box-shadow: 0 0 15px #ccc;
	-webkit-box-shadow: 0 0 15px#ccc;
	box-shadow: 0 0 15px #ccc;
	filter: shadow(color=#cccccc, direction=135, strength=2);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #D6D6D6;
	background: -moz-linear-gradient(top, #D6D6D6 0%, #FFFFFF 20%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D6D6D6), color-stop(20%,#FFFFFF));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D6D6D6', endColorstr='#FFFFFF',GradientType=0 );
}
#wrapper #contenido h1{
	font-size:26px;
}
div.pagination {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align:right;
	padding:4px 6px 10px 0;
	color:#313031;
}

div.pagination a {
	font-weight:bold;
	color:#999999;
	text-decoration:underline;
	padding:1px 3px 1px 3px;
	margin:0 1px 0 1px;
}

div.pagination a:hover, div.pagination a:active {

}
div.pagination span.current {
	padding:1px 4px 1px 4px;
	color:#000;
	background-color: #FFFFFF;
}
div.pagination span.disabled {
	display:none;
}
#pathway{
	margin-left: 20px;
	margin-top: 15px;
	float:left;
	position: absolute;
	z-index:1;
}
.breadcrumb{
font: bold 14px;
}

.breadcrumb a{
background: transparent  url(../img/breadcrumb.gif) no-repeat center right;
text-decoration: none;
padding-right: 18px; /*adjust bullet image padding*/
color: navy;
}

.breadcrumb a:visited, .breadcrumb a:active{
color: navy;
}

.breadcrumb a:hover{
text-decoration: underline;
}
#ordenar {
	position: relative;
	width:400px;
	height:32px;
	margin-left: 15px;
}
.productus .imapro {
	float:left;
	margin:0px 18px 20px 18px;
	width:113px;
	height:310px;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
}
span.imapro_ima {
	width:113px;
	height:170px;
	display: block;
	overflow: hidden;
}
span.imapro_tit {
	width:113px;
	display: block;
	color: #1A67A4;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 5px 0px 0px 0px;
	text-align: center;
	line-height: 13px;
	height: 55px;
	overflow:hidden;
}
span.imapro_pri {
	width:113px;
	display: block;
	color: #FF9900;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding: 0px;
	text-align: center;
	line-height: 15px;
	height: 15px;
}
span.imago_priold {
	width:113px;
	display: block;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 0px;
	text-align: center;
	line-height: 13px;
}
span.imapro_buy {
	width:84px;
	display: block;
	padding: 5px 14px 0px 14px;
	text-align: center;
	height: 26px;
}
span.imapop_buy {
	width:84px;
	display: block;
	padding: 5px 0px 0px 0px;
	text-align: center;
	height: 26px;
}
#categorias{
	margin-left: 20px;
	margin-bottom: 15px;
}
span.pri {
	color: #FF9900;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
}
span.priold {
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;

}
.buy {
	height: 26px;
	padding-top: 15px;
}
.resena {
	padding-top: 15px;
}
.producto_buscador {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #f1f1f1;

}
.cart_ima img {
	margin-right: 10px;
	margin-bottom: 2px;
	margin-top: 2px;
	border: 1px solid #f1f1f1;
	border-top: 1px solid #ccc;"

}
tr.cartab{
	border-bottom: 1px solid #ccc;"

}
#publi {
	margin-top: 10px;
}
#publi .pbi {
	margin: 10px 0px;;
}
#publi .pbi img {
	opacity:1;
	filter:alpha(opacity=100);
	-moz-opacity:1;
}
#publi .pbi img:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
}
#sitemap {
	width: 500px;
	margin: 20px auto 20px auto;
}
ul.arrow {
	list-style: none;
	list-style-image: url(../img/arrow.gif);
	margin-top: 0px;
	line-height: 1.5em;
	margin-bottom: 5px;
	width: 200px;
}
ul.arrow li, ul.arrow li ul li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	margin-left: 10px;
}
ul.arrow li a {
	color: #333;
	text-decoration: none;
	display: block;
}
ul.arrow li a:hover {
	color: #F90;
	text-decoration: underline;
}
ul.arrow li a:visited {
	color: #333;
}
#footer {
	background: url(../img/bg_footer.jpg) top center no-repeat #FFFFFF;
}
#footer .inner {
	color: #666;
	font-size: 12px;
	padding-bottom: 15PX;
}
#footer #gives_a_book {
	margin-top: 47px;
}
#footer #footitem {
	padding-top: 10PX;
}
#footer .foot_tit{
	font-size:16px;
	font-weight: bold;
	color:#1E9BD0;
	padding-bottom: 5px;
}
#footer .foot_cont{
	font-size:12px;
	margin-top: 8px;
	padding-bottom: 10px;
	margin-left: 15px;
}
#footer .foot_cont a:link img{
	opacity:1;
	filter:alpha(opacity=100);
	-moz-opacity:1;
}
#footer .foot_cont a:hover img{
	opacity:0.7;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;

}
#footer strong {
	font-size: 15px;
	color:#808080;
}
#footer .foot_inf a:link, #footer .foot_inf a:visited{
	color: #666666;
}
#footer .foot_inf a:hover{
	color: #333;
	text-decoration: underline;
}
#footer .ico_phone{
	background:url(../img/icons/phone.png) no-repeat;
	position:relative;
	float:right;
	width:58px;
	height:58px;
	z-index:2;
	margin-right: 15px;
}
#footer .social {
	width: 215px;
	height: 27px;
	background: transparent;
	margin-top: 8px;
}
#footer .social ul li{
	display:inline;
	list-style: none;
	margin-left: 3px;
}
#footer .social ul li a:link img, #footer .social ul li a:visited img{
	opacity:1;
	filter:alpha(opacity=100);
	-moz-opacity:1;
}
#footer .social ul li a:hover img{
	opacity:0.7;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;

}
#autor{
	padding-bottom: 10px;
}
td.blkfoot{
	background: url(../img/sep_foot.png) right no-repeat;
	padding-left: 10px;
}
td.blkfootin{
	padding-left: 35px;
}
.footer_autor {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 17px;
	line-height: 17px;
}
.footer_autor #ahorranito {
	background: url(http://www.imaginamos.com/derechos_autor_gris/ahorranito.png) no-repeat 0px 0px;
	width: 15px;
	height: 17px;
	display: block;
	float: left;
	margin-right: 10px;
}
.footer_autor a {
	color: #666;
	text-decoration: none;
}
.footer_autor a:hover {
	text-decoration: underline;
}
.footer_autor a span {
	color: #0099FF;
}
a.campo {
	border: none;
	line-height: 20px;
	border: 1px solid #434D6D;
	background-color: #fbfbfb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	font-size: 13px;
	padding: 3px;
	height: 14px;
	-moz-box-shadow:inset 0 0 2px #A0C2D5;
	-webkit-box-shadow:inset 0 0 2px #A0C2D5;
	box-shadow:inset 0 0 2px #A0C2D5;
	filter: shadow(color=#A0C2D5, direction=135, strength=2);
}
a.campo:focus {
	background-color: #FFFFCC;
}
input.campo {
	border: none;
	line-height: 20px;
	border: 1px solid #434D6D;
	background-color: #fbfbfb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	font-size: 13px;
	padding: 3px;
	height: 14px;
	-moz-box-shadow:inset 0 0 2px #A0C2D5;
	-webkit-box-shadow:inset 0 0 2px #A0C2D5;
	box-shadow:inset 0 0 2px #A0C2D5;
	filter: shadow(color=#A0C2D5, direction=135, strength=2);
}
input.campo:focus {
	background-color: #FFFFCC;
}
textarea.campo {
	border: none;
	line-height: 20px;
	border: 1px solid #434D6D;
	background-color: #fbfbfb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	font-size: 13px;
	padding: 3px;
	height: 14px;
	-moz-box-shadow:inset 0 0 2px #A0C2D5;
	-webkit-box-shadow:inset 0 0 2px #A0C2D5;
	box-shadow:inset 0 0 2px #A0C2D5;
	filter: shadow(color=#A0C2D5, direction=135, strength=2);
	padding: 5px;
}
textarea.campo:focus {
	background-color: #FFFFCC;
}
select {
	border: none;
	line-height: 25px;
	border: 1px solid #434D6D;
	background-color: #fbfbfb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	font-size: 13px;
	padding: 3px;
	height: 25px;
	-moz-box-shadow:inset 0 0 2px #A0C2D5;
	-webkit-box-shadow:inset 0 0 2px #A0C2D5;
	box-shadow:inset 0 0 2px #A0C2D5;
	filter: shadow(color=#A0C2D5, direction=135, strength=2);
	margin-bottom: 3px;
	margin-left: 2px;
}
select:focus {
	background-color: #FFFFCC;
}
input.bto, button.bto {
	border: none;
	line-height: 23px;
	height: 23px;
	border: 1px solid #6B7598;
	background: #F4F5F9;
	background: -moz-linear-gradient(top, #F4F5F9 0%, #BDC3D6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F5F9), color-stop(100%,#BDC3D6));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F5F9', endColorstr='#BDC3D6',GradientType=0 );
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	cursor: pointer;
	padding: 0px 15px;
	margin-top: 10px;
	margin-left: 5px;
}
input.bto:hover, input.bto:hover {
	background: #F4F5F9;
	background: -moz-linear-gradient(top, #F4F5F9 0%, #BDC3D6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F5F9), color-stop(100%,#BDC3D6));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F5F9', endColorstr='#BDC3D6',GradientType=0 );
	-moz-box-shadow:inset 0 0 5px #233A81;
	-webkit-box-shadow:inset 0 0 5px #233A81;
	box-shadow:inset 0 0 5px #233A81;
	filter: shadow(color=#233A81, direction=135, strength=5);
}
.published {
	display: block;
	text-align: center;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: none;
	margin-right: 25px;
	background-color:#eee;
	color:#666;
	padding: 5px;
}
span.pub-month {
	display: block;
	font-size: .9em;
	margin: 0;
	padding: 0;
}
span.pub-date { 
	display: block;
	font-size: 1.4em;
	margin: 0;
	padding: 0;
}
.publishedblu {
	display: block;
	text-align: center;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: none;
	margin-right: 10px;
	background-color:#6699CC;
	color:#FFFFFF;
	padding: 5px;
}
span.pub-monthblu{
	display: block;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}
span.pub-dateblu { 
	display: block;
	font-size: 2em;
	margin: 0;
	padding: 0;
}
.citas {
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
	margin-bottom: 5px;
	line-height: 1.7em;
}
.btcart{
	margin-top: 10px;
}
.btcart a:link, .btcart a:visited{
	font-size: 13px;
	color:#fff;
	background-color: #3399FF;
	padding: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.btcart a:hover{
	background-color: #000066;
}
.recom {
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 749px;
	height:300px;
}
/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.recom .itemsrec {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}
.itemsrec div {
	float:left;
	width:749px;
}
/* single scrollable item */
.recom .imagor {
	float:left;
	margin:0px 8px 20px 8px;
	width:128px;
	height:300px;
	font-size: 13px;
}
span.imagor_ima {
	width:113px;
	height:170px;
	display: block;
	overflow: hidden;
}
span.imagor_tit {
	width:113px;
	display: block;
	color: #1A67A4;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 15px 0px 0px 0px;
	text-align: center;
	line-height: 13px;
	height: 60px;
}
span.imagor_pri {
	width:113px;
	display: block;
	color: #FF9900;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	padding: 5px 0px 3px 0px;
	text-align: center;
	line-height: 17px;
	height: 17px;
}
span.imagor_buy {
	width:84px;
	display: block;
	padding: 5px 14px 0px 14px;
	text-align: center;
	height: 26px;
}
/* active item */
.recom .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}