body {
	padding: 0;
	margin: 0;
}
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 532px;
	height:300px;
	margin-left: 11px;
}
/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}
.items div {
	float:left;
	width:538px;
}
/* single scrollable item */
.scrollable .imago {
	float:left;
	margin:0px 5px 20px 13px;
	width:113px;
	height:300px;
	font-size: 12px;
}
span.imago_ima {
	width:113px;
	height:170px;
	display: block;
	overflow: hidden;
}
span.imago_tit {
	width:113px;
	display: block;
	color: #1A67A4;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 5px 0px 0px 0px;
	text-align: center;
	line-height: 13px;
	height: 40px;
	overflow:hidden;
}
span.imago_priold {
	width:113px;
	display: block;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0px;
	text-align: center;
	line-height: 12px;
}
span.imago_pri {
	width:113px;
	display: block;
	color: #FF9900;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 0px 3px 0px;
	text-align: center;
	line-height: 16px;

}
span.imago_buy {
	width:84px;
	display: block;
	padding: 5px 14px 0px 14px;
	text-align: center;
	height: 26px;
}
/* active item */
.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}