table.yui 
{
	font-family:arial;
	border-collapse:collapse;
	border: 1px solid #BFBFBF;
	font-size:8pt;
	text-align: left;
}

table.yui td {	
	padding: 5px;
	border-right: solid 1px #BFBFBF;
}
table.yui .even {
	background-color: #fff;
	color: #003366;
}
table.yui .odd {
	background-color: #F0F0F6;
	color:#006699;
}
table.yui th
{
    /*background: url('sprite.png') repeat-x 0px 0px;    		*/
	border: 1px solid #CDCDCD;
    padding: 5px;
	height: auto;
	cursor:pointer;
	color:#2F373E;
	background-color:#E6EEEE;
}
table.yui2 th
{
	/* background: url('sprite2.png') repeat-x 0px 0px;    		*/
	border: 1px solid #CDCDCD;
	padding: 5px;
	height: auto;
	cursor:pointer;
	color:#2F373E;
}
table.yui th a
{
	text-decoration: none;
	text-align: center;    	
    padding-right: 20px;
    font-weight:bold;
    white-space:nowrap;
    background: url('bg.gif') no-repeat right 50%;
	color:#2F373E;
}

table.yui thead .headerSortUp , table.yui thead .headerSortDown 
{
    /*background: url('sprite.png') repeat-x 0px -100px;*/
	background-color:#CBDCDC;
}

table.yui .headerSortUp a 
{	
    background: url('asc.gif') no-repeat right 50%;
}
table.yui .headerSortDown a 
{    
    background: url('desc.gif') no-repeat right 50%;
}

table.yui tfoot td
{
	border-top: 1px solid #BFBFBF;
	background-color:#E6EEEE;
	color: #3D3D3D;
	/*background: url('sprite.png') repeat-x 0px 0px;*/
}

table.yui thead td
{
    vertical-align:middle;
    background-color:#FFFFFF;
    border:none;
}

table.yui thead .tableHeader
{
    font-size:larger;
    font-weight:bold;
}

table.yui thead .filter
{
    text-align:right;
}

table.yui tfoot
{
    background-color:#E1ECF9;
    text-align:center;      
}

table.yui .tablesorterPager {
	padding: 10px 0 10px 0;		
}
table.yui .tablesorterPager span {
	padding: 0 5px 0 5px;
}
table.yui .tablesorterPager input.prev {
	width: auto;
	margin-right: 10px;
}
table.yui .tablesorterPager input.next {
	width: auto;
	margin-left: 10px;
}
table.yui .pagedisplay 	
{
    font-size:10pt;
	width: 30px;
	border: 0px;	
	/*background-color: #E1ECF9;*/
	text-align:center;
    vertical-align:top;
}
