/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2009 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 185 2009-02-09 21:51:12Z emartin24 $
 *
 */


/* Overlay */
#simplemodal-overlay {background-color:#cccccc; cursor:wait;}

/* Container */
#simplemodal-container {height:400px; width:600px; background-color:#fff; border:1px solid #ccc;}
#simplemodal-container a.modalCloseImg {background:url(../../admin-7.7/imagenes/modal_dialog/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-18px; cursor:pointer;}
#simplemodal-container #basicModalContent {padding:8px;}