form.jqtransformdone label{
	margin-top:12px;
	margin-right: 8px;
	margin-bottom:5px;
	display: block;
	font-size:13px;
	text-align:left;
	color:#404648;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	float: left;
}
form.jqtransformdone label.error{
	margin-top:-8px;
	margin-right: 8px;
	margin-bottom:7px;
	display: block;
	font-size:10px;
	text-align:left;
	color:#004F8E;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
form.jqtransformdone div.rowElem{
	clear:both;
	padding:4px 0px;
}

/* -------------
 * Buttons
 * ------------- */
button.jqTransformButton {
	margin: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-rigth: 0px;
	padding-bottom: 0px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	overflow: visible;
	font-family: Arial;
}

*:first-child+html button.jqTransformButton[type]{width: 1;} /* IE7 */

button.jqTransformButton span {
	background: transparent url(../imagenes/forms/btn_right.png) no-repeat scroll right top;
	display: block;
	float: left;
	padding: 0px 4px 0px 0px; /* sliding doors padding */
	margin: 0px;
	height: 23px;
}

button.jqTransformButton span span {
	background: transparent url(../imagenes/forms/btn_left.png) no-repeat;
	color: #fff;
	padding: 4px 4px 0px 8px;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	display: block;
	text-decoration: none;
	height: 33px;
}

/* -------------
 * Inputs
 * ------------- */
.jqTransformInputWrapper {
	background: transparent url(../imagenes/forms/input_left.gif) no-repeat left top;
	height: 31px;
	padding: 0px;
	float:left;
}

.jqTransformInputInner {
	background: transparent url(../imagenes/forms/input_right.gif) no-repeat right top;
	padding: 2px 4px 2px 0px;
	margin: 0px 0px 0px 4px;
}

.jqTransformInputInner div {
	height: 31px;
}

.jqTransformInputInner input {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height: 18px;
	vertical-align: middle;
	height: 31px;
	color:#244A89;	
	border: none;
	padding: 5px 0 0 0;
	margin: 0 0 0 0;
	background:transparent;
}


/*  IE6 */

* html .jqTransformInputInner input {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height: 18px;
	vertical-align: middle;
	height: 31px;
	color:#404040;	
	border: 0;
	padding: 2px 0 0 0;
	margin: 0 0 0 0;
	background:transparent;
}


/*hover*/
.jqTransformInputWrapper_hover{ background: transparent url(../imagenes/forms/input_left-hover.gif) no-repeat left top;}
.jqTransformInputWrapper_hover div{}
.jqTransformInputWrapper_hover div.jqTransformInputInner{ background: transparent url(../imagenes/forms/input_right-hover.gif) no-repeat right top;}

/*focus*/
.jqTransformInputWrapper_focus{ background: transparent url(../imagenes/forms/input_left-focus.gif) no-repeat left top;}
.jqTransformInputWrapper_focus div{}
.jqTransformInputWrapper_focus div.jqTransformInputInner{ background: transparent url(../imagenes/forms/input_right-focus.gif) no-repeat right top;}



.jqTransformSafari .jqTransformInputInner div {
	position: relative;
	overflow: hidden;
}
.jqTransformSafari input {
	background-color: none;
	position: absolute;
	top: -10px;
	left: -2px;
	height: 42px; 
	padding-left: 4px;
}



/* -------------
 * Textarea
 * ------------- */
table.jqTransformTextarea td{
font-size: 1px;
line-height: 1px;
width: 5px;
height: 5px;
margin: 0;
padding: 0;
}

table.jqTransformTextarea tr{
/*border: 1px solid red;*/

}
table.jqTransformTextarea textarea{
margin: 0;
padding: 0;
border: 0;
background: none;
}
table.jqTransformTextarea td#jqTransformTextarea-tl{
background: url(../imagenes/forms/textarea-tl.gif) no-repeat bottom left;
}
table.jqTransformTextarea td#jqTransformTextarea-tm{
background: url(../imagenes/forms/textarea-tm.gif) repeat-x bottom left;
}
table.jqTransformTextarea td#jqTransformTextarea-tr{
background: url(../imagenes/forms/textarea-tr.gif) no-repeat bottom left;

}
table.jqTransformTextarea td#jqTransformTextarea-ml{
background: url(../imagenes/forms/textarea-ml.gif) repeat-y top left;
}
table.jqTransformTextarea td#jqTransformTextarea-mm{
background: url(../imagenes/forms/textarea-mm.gif) repeat top left;
}
table.jqTransformTextarea td#jqTransformTextarea-mm textarea{
font-size: 12px;
line-height: 16px;
}




table.jqTransformTextarea td#jqTransformTextarea-mr{
background: url(../imagenes/forms/textarea-mr.gif) repeat-y top left;
}
table.jqTransformTextarea td#jqTransformTextarea-bl{
background: url(../imagenes/forms/textarea-bl.gif) no-repeat top left;
}
table.jqTransformTextarea td#jqTransformTextarea-bm{
background: url(../imagenes/forms/textarea-bm.gif) repeat-x top left;
}
table.jqTransformTextarea td#jqTransformTextarea-br{
background: url(../imagenes/forms/textarea-br.gif) no-repeat top left;
}
/*hover*/
table.jqTransformTextarea-hover td#jqTransformTextarea-tl{background-image: url(../imagenes/forms/textarea-tl-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-tm{background-image: url(../imagenes/forms/textarea-tm-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-tr{background-image: url(../imagenes/forms/textarea-tr-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-ml{background-image: url(../imagenes/forms/textarea-ml-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-mm{background-image: url(../imagenes/forms/textarea-mm-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-mr{background-image: url(../imagenes/forms/textarea-mr-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-bl{background-image: url(../imagenes/forms/textarea-bl-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-bm{background-image: url(../imagenes/forms/textarea-bm-hover.gif);}
table.jqTransformTextarea-hover td#jqTransformTextarea-br{background-image: url(../imagenes/forms/textarea-br-hover.gif);}
/*focus*/
table.jqTransformTextarea-focus td#jqTransformTextarea-tl{background-image: url(../imagenes/forms/textarea-tl-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-tm{background-image: url(../imagenes/forms/textarea-tm-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-tr{background-image: url(../imagenes/forms/textarea-tr-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-ml{background-image: url(../imagenes/forms/textarea-ml-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-mm{background-image: url(../imagenes/forms/textarea-mm-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-mr{background-image: url(../imagenes/forms/textarea-mr-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-bl{background-image: url(../imagenes/forms/textarea-bl-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-bm{background-image: url(../imagenes/forms/textarea-bm-focus.gif);}
table.jqTransformTextarea-focus td#jqTransformTextarea-br{background-image: url(../imagenes/forms/textarea-br-focus.gif);}


table.jqTransformTextarea .jqTransformSafariTextarea div {
	position: relative;
	overflow: hidden;
	border: 0px solid red;
}
table.jqTransformTextarea .jqTransformSafariTextarea textarea{
	background: none;
	position: absolute;
	top:-10px;
	left:-10px;
	padding: 10px 10px 10px 10px;
	resize: none;
}


/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {float: left;display:block;margin:0px 4px;	margin-top:5px;}
.jqTransformRadio {
	background: transparent url(../imagenes/forms/radio.gif) no-repeat center top;
	vertical-align: middle;
	height: 19px;
	width: 18px;
	display:block;/*display: -moz-inline-block;*/
}


/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
	display:block;float:left;
	margin-top:5px;
}
a.jqTransformCheckbox {
	background: transparent url(../imagenes/forms/checkbox.gif) no-repeat center top;
	vertical-align: middle;
	height: 19px;
	width: 18px;
	display:block;/*display: -moz-inline-block;*/
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked { background-position: center bottom;}


/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 45px;
	position:relative;
	height: 31px;
	background: url(../imagenes/forms/select_left.gif) no-repeat top left;
	float:left;
}

.jqTransformSelectWrapper div span {
	
	font-size: 12px;
	float: none;
	position: absolute;
	width: 14px;
	height: 31px;
	line-height: 15px;
	padding: 8px 0 0 7px;
	overflow: hidden;
	cursor:pointer;
	/*border: 1px solid #CCCCCC;*/
/*	border-right: none;*/
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 0px;
	width: 31px;
	height: 31px;
	background: url(../imagenes/forms/select_right.gif) no-repeat center center;
}

.jqTransformSelectWrapper ul {
	position: absolute;
	width: 43px;
	top: 30px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #CCC;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 150px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#333;
	background-color: #FFF;
	font-size: 12px;
}

.jqTransformSelectWrapper ul a.selected {
	background: #EDEDED;
	color: #333;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#3582c4;
	color: #fff;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}
